* {
    box-sizing: border-box;
    /* border: 1px solid red; */
    margin: 0 auto;
    padding: 0;
}

html {
    max-height: 100vh;
    max-width: 720px;
    line-height: 1.5;
    margin: 0;
}

a:link,
a:visited,
a:active {
    color: blue;
}

h1,
h2,
h3 {
    padding: .5rem 1rem;
}

p {
    padding: 0 1rem;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    padding: .75rem 1rem;
}

.nav-item {
    padding-right: 1rem;
    text-align: left;
    margin: 0;
}

.link-list {
    padding: 0 3rem;
}

.tech-list {
    padding: 0 3rem;
}

.interest-list {
    padding: 1rem 3rem;
    /* list-style: none; */
}

.freelance-list {
    padding: 1rem 3rem;
}

.footer {
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.note {
    padding: 1rem 1rem;
    font-style: italic;
}