/* Inter variable normal */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 100 900;
    src: url('/fonts/Inter-VariableFont_opsz\,wght.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

/* Inter variable italic */
@font-face {
    font-display: swap;
    /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: italic;
    font-weight: 100 900;
    src: url('/fonts/Inter-Italic-VariableFont_opsz\,wght.woff2') format('woff2');
    /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
    --bg-color: #23408eff;
    --font-color-light: #fcfcfcff;
    --font-color-dark: #000000ff;
    --link-color: #ccbf00ff;
    --link-color-active: #cc232aff;
    --selection-color: #0b9444ff;
    --gray-color: #292929ff;
    --page-width: 1024px;
}

::selection {
    background: var(--selection-color);
}

* {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0;
    /* border: 1px solid red; */
}

html {
    max-width: var(--page-width);
    line-height: 1.4;
    margin: 2rem auto;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 300;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--font-color-light);
}

a:link,
a:visited {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px dotted;
}

a:active {
    color: var(--link-color-active);
    text-decoration: none;
    border-bottom: 1px solid;
}

a:hover {
    color: var(--link-color);
    text-decoration: none;
    border-bottom: 1px solid;
}

.highlight {
    font-weight: 500;
}

.out-arrow {
    color: var(--link-color);
}

h1,
h2,
h3,
h4 {
    padding: 0 1rem .2rem;
    font-family: "Inter", sans-serif;
}

h1 {
    font-size: 17px;
}

h2 {
    font-size: 15px;
    padding-top: .5rem;
    /* border-bottom: 1px dotted var(--link-color); */
}

p {
    padding: .2rem 1rem 0.5rem;
    z-index: 10;
}

.nav {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    align-items: center;
    padding: .75rem 1rem 0;
    /* padding-top: .75rem; */
}

.nav-item {
    padding-right: 1rem;
    text-align: left;
    margin: 0;
}

.header {
    padding: .5rem 0 0;
}

.page-title {
    padding: 1rem 1rem 0;
}

.index-table {
    margin: 0 1rem;
    table-layout: fixed;
    border-collapse: collapse;
    width: 92%;
}

.index-table td {
    border: 0;
    padding: 0.2rem 0 .5rem;
    /* border-bottom: 1px dotted var(--link-color); */
}

.index-table tr:hover {
    background-color: #265599;
}

.col-1 {
    width: 30%;
    vertical-align: top;
    font-style: italic;
}

.about {
    padding: 1rem 0;
    max-width: var(--page-width);
}

.contract {
    padding: 1rem 0;
    max-width: var(--page-width);
}

a.cta-button {
    position: relative;
    top: 0px;
    background-color: var(--link-color);
    color: var(--font-color-dark);
    padding: .25rem .5rem;
    font-weight: 400;
    border-bottom: none;
    box-shadow: 2px 2px var(--gray-color);
    transform: top .2s box-shadow .2s;
}

a.cta-button:hover {
    top: 2px;
    box-shadow: 1px 1px var(--gray-color);
}

.projects {
    padding: 1rem 0;
}

.tools {
    padding: 1rem 0;
    max-width: var(--page-width);
}

.footer {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.note {
    padding: .5rem 1rem 0;
}

.footer p {
    padding: 1rem 1rem 0;
}

.reading-table {
    margin: 1rem;
    /* border-bottom: 1px solid gray; */
    border-collapse: collapse;
    width: 90%;
}

.reading-table th {
    text-align: left;
    padding: .2rem .2rem .5rem;
    /* border: 1px solid gray; */
}

.reading-table tr:hover {
    background-color: #265599;
}

.reading-table td {
    padding: .5rem .2rem 0;
    /* border-bottom: 2px dotted var(--link-color); */
}