---
import Navigation from "../components/Navigation.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../../src/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content="My writing. Coming soon." />

    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />

    <meta name="google" content="nositelinkssearchbox" />

    <link rel="canonical" href="https://mihirdixit.com/blog/" />

    <!-- Facebook Opengraph Protocol -->
    <meta property="og:title" content="Blog | Mihir Dixit" />
    <meta property="og:url" content="https://mihirdixit.com/blog/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://mihirdixit.com/img/mihircodes_blog.png"
    />
    <!-- <meta property="og:image:alt" content="" /> -->
    <meta property="og:description" content="My writing. Coming soon." />
    <meta property="og:site_name" content="Mihir Codes" />
    <meta property="og:locale" content="en_US" />

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:widgets:new-embed-design" content="on" />
    <meta name="twitter:site" content="@mihirdx" />
    <meta name="twitter:url" content="https://mihirdixit.com/blog/" />
    <meta name="twitter:title" content="Blog | Mihir Dixit" />
    <meta name="twitter:description" content="My writing. Coming soon." />
    <meta
      name="twitter:image"
      content="https://mihirdixit.com/img/mihircodes_blog.png"
    />

    <title>Blog | MihirDixit.com</title>

    <!-- <link rel="preload" as="script" href="/src/scripts/set-theme.js" /> -->
    <style>
      .blog {
        padding: 2rem 0 2rem;
        max-width: var(--page-width);
        height: 70vh;
      }

      .blog p {
        margin: 0 1rem;
      }

      @media only screen and (max-width: 720px) {
        .blog {
          padding: 1rem 0 1rem;
          height: 70vh;
        }

        .blog p {
          margin: 0 0.5rem;
        }
      }
    </style>
  </head>

  <body class="" id="body-theme">
    <Navigation />

    <Header pageTitle="Blog" />

    <section class="blog">
      <p>Coming soon...</p>
    </section>

    <Footer />

    <!-- <script src="/src/scripts/index.js"></script> -->
  </body>
</html>
