---
import "../../src/styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />
        <title>Mihir Codes</title>
    </head>

    <body class="" id="body-theme">
        <h1 class="site-title">Hi, I'm Mihir Dixit</h1>
        <p class="site-subtitle">Welcome to my website.</p>

        <ul class="nav">
            <li class="nav-item"><a href="/">Home</a>&nbsp;&nbsp;/</li>
            <li class="nav-item">Blog&nbsp;&nbsp;/</li>
            <li class="nav-item mode-button" id="mode-toggle">🌙</li>
        </ul>

        <main>
            <!-- <ul>
                <li><a href="/posts/post-1/">Post 1</a></li>
            </ul> -->
            <br />
            <p>Coming soon...</p>
        </main>

        <footer class="footer">
            <p id="end-square">&#x2B1B;</p>
            <div class="note">
                <small>&copy; Mihir Dixit</small><br />
            </div>
        </footer>

        <script src="/src/scripts/index.js"></script>
    </body>
</html>
