---
import "../../src/styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <meta
            name="description"
            content="Blog page on the personal/portfolio website of Mihir Dixit."
        />

        <meta name="robots" content="index,follow" />
        <meta name="googlebot" content="index,follow" />

        <meta name="google" content="nositelinkssearchbox" />

        <link rel="canonical" href="https://mihircodes.com/blog/" />

        <!-- Facebook Opengraph Protocol -->
        <meta property="og:title" content="Blog | Mihir Codes" />
        <meta property="og:url" content="https://mihircodes.com/blog/" />
        <meta property="og:type" content="website" />
        <!-- <meta property="og:image" content="https://mihircodes.com"> -->
        <!-- <meta property="og:image:alt" content="" /> -->
        <meta
            property="og:description"
            content="Blog page on the personal/portfolio website of Mihir Dixit."
        />
        <meta property="og:site_name" content="Mihir Codes" />
        <meta property="og:locale" content="en_US" />

        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:widgets:new-embed-design" content="on" />
        <meta name="twitter:site" content="@mihird9" />
        <meta name="og:url" content="https://mihircodes.com/blog/" />
        <meta name="og:title" content="Blog | Mihir Codes" />
        <meta
            name="og:description"
            content="Blog page on the personal/portfolio website of Mihir Dixit."
        />
        <!-- <meta name="twitter:image" content="https://mihircodes.com" /> -->

        <title>Blog | Mihir Codes</title>

        <!-- <link rel="preload" as="script" href="/src/scripts/set-theme.js" /> -->
    </head>

    <body class="" id="body-theme">
        <ul class="nav">
            <li class="nav-item"><a href="/">Home</a>&nbsp;&nbsp;/</li>
            <li class="nav-item">Blog&nbsp;&nbsp;/</li>
            <li class="nav-item">
                <a href="/reading-list/">Reading List</a>&nbsp;&nbsp;/
            </li>
            <!-- <li class="nav-item mode-button" id="mode-toggle">🌙</li> -->
        </ul>

        <header class="header">
            <h1>Blog</h1>
        </header>

        <main>
            <!-- <ul>
                <li><a href="/posts/post-1/">Post 1</a></li>
            </ul> -->
            <br />
            <p>Coming soon...</p>
        </main>

        <footer class="footer">
            <p id="end-square">&#x2B1B;</p>
            <div class="note">
                <small>&copy; Mihir Dixit</small><br />
            </div>
        </footer>

        <!-- <script src="/src/scripts/index.js"></script> -->
    </body>
</html>
