---
import "../../src/styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mihir Codes</title>
	</head>
	<body>
		<h1 class="site-title">Hi, I'm Mihir Dixit</h1>
		<p class="site-subtitle">Welcome to my website.</p>

		<ul class="nav">
			<li class="nav-item"><a href="/">Home</a></li>
			<!-- <li class="nav-item"><a href="">Blog</a></li> -->
		</ul>

		<section>
			<h2>About me</h2>
			<p>
				I am a software developer, and web designer, primarily focused
				on web development. I am a informtion systems analyst/engineer
				by education. I have previously worked as a Data Analyst,
				Business Intelligence Analyst and in other data and software
				related roles for the past 10 years, about 5 years of which were
				in the US.
			</p>
			<ul class="interest-list">
				<li>
					<strong>Professional Interests:</strong> Web Development, Elegant
					Software, Unix and related OSes, AI/LLMs
				</li>
				<li>
					<strong>Other Interests:</strong> Writing, Sketching, Anime,
					Singing, Poetry, Languages (computer, and natural)
				</li>
			</ul>
			<p>
				My <a href="https://x.com/mihird9" target="_blank"
					>Twitter/X.com</a
				> profile
			</p>
			<p>
				My <a href="https://github.com/mihird9" target="_blank"
					>Github</a
				> profile
			</p>
			<p>Email: heymihird9 [at] gmail [dot] com</p>
		</section>

		<section>
			<h2>Freelance Work</h2>
			<p>I am taking freelance work in the below mentioned areas:</p>
			<ul class="freelance-list">
				<li>
					<strong>Website development:</strong> Developing performant websites
					for small businesses, founders, and independent creators. For
					more information visit
					<a href="https://leancraftwebdesign.com" target="_blank"
						>leancraftwebdesign.com</a
					>
				</li>
				<li>
					<strong>Web application development:</strong> Development of
					traditional multi-page web applications, as well as single-page
					web applications.
				</li>
				<li>
					<strong>Blog Writing:</strong> I am also open to writing technical
					and non-technical blogs.
				</li>
			</ul>
			<p>
				&gt;&gt;&gt;
				<a
					href="https://cal.com/mihird9/free-15-min-intro-call-copy"
					target="_blank">Book a call now</a
				> &lt;&lt;&lt;
			</p>
		</section>

		<section>
			<h2>Projects</h2>
			<p>coming soon...</p>
			<p>Like any of my projects? Want to show appreciation?</p>
			<p>
				&gt;&gt;&gt; <a
					href="https://buymeacoffee.com/mihird9"
					target="_blank">Buy me a coffee</a
				> &lt;&lt;&lt;
			</p>
		</section>

		<section>
			<h2>Tools & Technologies I'm most familiar with:</h2>
			<ul class="tech-list">
				<li>
					<strong>Programming Languages:</strong> Python, JavaScript/Nodejs,
					TypeScript, Bash, SQL
				</li>
				<li>
					<strong>Web technologies:</strong> HTML, CSS, Django, Flask,
					Express, React, Astro
				</li>
				<li>
					<strong>Databases:</strong> PostgreSQL, SQLite, MS SQL Server,
					MongoDB
				</li>
				<li><strong>Design:</strong> Figma</li>
				<li><strong>OS:</strong> Linux/Ubuntu, Windows</li>
			</ul>
		</section>

		<footer class="footer">
			<small class="note">last updated on: 2024-11-09</small>
			<p>&#x25FC;</p>
		</footer>
	</body>
</html>
