---
import "../../src/styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Mihir Codes</title>

		<link
			rel="preload"
			href="/fonts/jetbrains-mono-v20-latin-regular.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
	</head>

	<body class="" id="body-theme">
		<h1 class="site-title">Hi, I'm Mihir Dixit</h1>
		<p class="site-subtitle">Welcome to my website.</p>

		<!-- <ul>
			<li></li>
		</ul> -->

		<ul class="nav">
			<li class="nav-item">Home&nbsp;&nbsp;/</li>
			<li class="nav-item"><a href="/blog/">Blog</a>&nbsp;&nbsp;/</li>
			<li class="nav-item mode-button" id="mode-toggle">🌙</li>
		</ul>

		<section>
			<h2>About me</h2>
			<p>
				I am a software developer (focused on web development), and
				designer who likes to build stuff. I am also a informtion
				systems graduate/engineer by education. I have previously worked
				as a Data Engineer/Analyst, Business Intelligence Analyst and in
				other data/software related roles for the past 10 years, about 5
				years of which were in the US.
			</p>
			<ul class="interest-list">
				<li>
					<strong>Professional Interests:</strong> Web Development, Design,
					Software Development, SaaS (Software as a Service), Data and
					Analytics, Machine Learning/AI/LLMs
				</li>
				<li>
					<strong>Other Interests:</strong> Writing, Sketching, Anime,
					Singing, Poetry, Languages (computer, and natural), Hiking
				</li>
			</ul>
			<p>
				X/Twitter:
				<a href="https://x.com/mihird9" target="_blank">@mihird9</a>
			</p>
			<p>
				Github:
				<a href="https://github.com/mihird9" target="_blank">mihird9</a>
			</p>
			<p>Email: heymihird9 [at] gmail [dot] com</p>
		</section>

		<section>
			<h2>Contract Work</h2>
			<p>Currently I am taking on contract work in the below areas:</p>
			<ul class="freelance-list">
				<li>
					<strong>Website development:</strong> Developing performant websites
					for small businesses, founders, and independent creators. For
					more information visit
					<a href="https://leancraftwebdesign.com" target="_blank"
						>leancraftwebdesign.com</a
					>
				</li>
				<li>
					<strong>Web application development:</strong> Development of
					traditional multi-page web applications, as well as single-page
					web applications
				</li>
				<li>
					<strong>Technical Writing:</strong> Technical blogs/articles
					related to Python, JavaScript, Web Development, Software Development,
					Unix/Linux
				</li>
			</ul>
			<p>
				&gt;&gt;&gt;
				<a
					href="https://cal.com/mihird9/free-15-min-intro-call-copy"
					target="_blank">Schedule a 15min call</a
				> &lt;&lt;&lt;
			</p>
		</section>

		<section>
			<h2>Projects</h2>
			<p>Coming soon...</p>
			<br />
			<p>Like any of my projects? Want to show appreciation?</p>
			<p>
				&gt;&gt;&gt; <a
					href="https://buymeacoffee.com/mihird9"
					target="_blank">Buy me a coffee</a
				> &lt;&lt;&lt;
			</p>
		</section>

		<section>
			<h2>Tools & Technologies I use:</h2>
			<ul class="tech-list">
				<li>
					<strong>Languages:</strong> Python, JavaScript/Node.js, TypeScript,
					SQL, Bash, HTML, CSS
				</li>
				<li>
					<strong>Frameworks/Libraries:</strong> React, Express, Django,
					Flask, Astro, Tailwind CSS
				</li>
				<li>
					<strong>Databases:</strong> PostgreSQL, SQLite, MS SQL Server,
					MongoDB
				</li>
				<li><strong>Design:</strong> Figma</li>
				<li><strong>OS:</strong> Linux/Ubuntu, Windows</li>
			</ul>
		</section>

		<footer class="footer">
			<p id="end-square">&#x2B1B;</p>
			<div class="note">
				<small>&copy; Mihir Dixit</small><br />
				<small>last updated on: 2024-11-13</small>
			</div>
		</footer>

		<script src="/src/scripts/index.js"></script>
	</body>
</html>
