---
import "../../src/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta
      name="description"
      content="Developer and Designer, working with small businesses and founders across the world."
    />

    <meta name="robots" content="index,follow" />
    <meta name="googlebot" content="index,follow" />

    <meta name="google" content="nositelinkssearchbox" />

    <link rel="canonical" href="https://mihirdixit.com/" />

    <!-- Facebook Opengraph Protocol -->
    <meta property="og:site_name" content="Mihir Codes" />
    <meta property="og:locale" content="en_US" />
    <meta property="og:title" content="Mihir Dixit | Developer and Designer" />
    <meta
      property="og:description"
      content="Developer and Designer, working with small businesses and founders across the world."
    />
    <meta property="og:url" content="https://mihirdixit.com/" />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://mihirdixit.com/img/mihircodes_index.png"
    />
    <!-- <meta property="og:image:alt" content="" /> -->

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:widgets:new-embed-design" content="on" />
    <meta name="twitter:site" content="@mihirdx" />
    <meta name="twitter:url" content="https://mihirdixit.com/" />
    <meta name="twitter:title" content="Mihir Dixit | Developer and Designer" />
    <meta
      name="twitter:description"
      content="Developer, and Designer working with small businesses and founders across the world."
    />
    <meta
      name="twitter:image"
      content="https://mihirdixit.com/img/mihircodes_index.png"
    />

    <title>Mihir Dixit | Developer and Designer</title>

    <!-- <link rel="preload" as="script" href="/src/scripts/set-theme.js" /> -->

    <!-- Preload the fonts only on the index page -->
    <link
      rel="preload"
      href="/fonts/Inter-VariableFont_opsz\,wght.woff2"
      as="font"
      type="font/woff2"
      crossorigin
    />
  </head>

  <body class="" id="body-theme">
    <ul class="nav">
      <li class="nav-item">Home&nbsp;&nbsp;/</li>
      <li class="nav-item"><a href="/blog/">Blog</a>&nbsp;&nbsp;/</li>
      <li class="nav-item">
        <a href="/reading-list/">Reading List</a>&nbsp;&nbsp;/
      </li>
    </ul>

    <header class="header">
      <h1 class="page-title">Mihir Dixit</h1>
      <p class="page-subtitle">
        Software Developer and Designer, working with small businesses and
        startups across the world
      </p>
    </header>

    <section class="about">
      <h2>About me</h2>
      <!-- <p>
				I am a <strong
					>software developer (focused on web development), and web
					designer, who likes to build stuff.</strong
				>
			</p> -->

      <table class="index-table">
        <tr>
          <td class="col-1">Currently</td>
          <td>Available for freelance work in design and web development</td>
        </tr>
        <tr>
          <td class="col-1">Focus</td>
          <td
            >Design, development, ecommerce/Shopify development, branding,
            marketing, and business communication</td
          >
        </tr>
        <tr>
          <td class="col-1">Previously</td>
          <td
            >Worked as a Data Engineer/Analyst, Business Intelligence Analyst
            and in other data/software related roles for the past 10 years,
            about 5 years of which were in the US</td
          >
        </tr>
        <!-- <tr
					><td class="col-1">Other Interests</td>
					<td
						>Writing, Sketching, Anime, Singing, Poetry, Languages
						(computer, and natural), Hiking</td
					>
				</tr> -->
        <tr>
          <td class="col-1">Socials</td>
          <td
            ><a href="https://github.com/mihird9" target="_blank">Github</a>
            <span class="out-arrow">&#8599;</span>&nbsp; &nbsp;<a
              href="https://x.com/mihirdx"
              target="_blank">Twitter/X</a
            >
            <span class="out-arrow">&#8599;</span>
          </td>
        </tr>
        <tr>
          <td class="col-1">Email</td>
          <td>heymihird9 [at] gmail [dot] com</td>
        </tr>
      </table>
    </section>

    <section class="freelance">
      <h2>Freelance Services</h2>

      <table class="index-table">
        <tr>
          <td class="col-1">Websites</td>
          <td
            >Design and development of websites for startups, and small
            businesses. For more information please visit <a
              href="https://leancraftwebdesign.com"
              target="_blank">LeancraftWebDesign.com</a
            >
            <span class="out-arrow">&#8599;</span></td
          >
        </tr>
        <tr>
          <td class="col-1">Web Applications</td>
          <td
            >Design and development of full stack web applications (single-page
            or multi-page apps), and APIs</td
          >
        </tr>
        <tr>
          <td class="col-1">Technical Writing</td>
          <td
            >Writing related to Development, Design, Python,
            JavaScript/TypeScript, Unix/Linux and advances in AI and ML.</td
          >
        </tr>
        <tr>
          <td class="col-1"></td>
          <td
            ><br />
            <i>> Interested in my freelance services?</i>&nbsp;
            <a
              href="https://cal.com/mihird9/free-15-min-intro-call-copy"
              target="_blank"
              class="">Schedule a 15 min call</a
            >
            <span class="out-arrow">&#8599;</span></td
          >
        </tr>
      </table>
    </section>

    <section class="projects">
      <h2>Projects</h2>
      <p>Adding soon...</p>
      <!-- <div class="project-container">
				<div class="project-item">
					<div>
						<img
							src="/public/img/leancraft-website-240p.png"
							alt=""
							height="140px"
						/>
					</div>
					<div>
						<p>Website for Leancraft Web Design</p>
					</div>
				</div>
			</div> -->
      <br />
      <!-- <p>Like any of my projects? Want to show appreciation?</p>
			<p>
				&gt;&gt;&gt; <a
					href="https://buymeacoffee.com/mihird9"
					target="_blank">Buy me a coffee</a
				> &lt;&lt;&lt;
			</p> -->
    </section>

    <!-- <section class="tools">
      <h2>Tools & Technologies I use</h2>

      <table class="index-table">
        <tr>
          <td class="col-1">Languages</td>
          <td>Python, JavaScript/Node.js, TypeScript, SQL, Bash, HTML</td>
        </tr>
        <tr>
          <td class="col-1">Frameworks / Libraries</td>
          <td>React, Express, Astro, Django, Flask, FastAPI, Tailwind CSS</td>
        </tr>
        <tr>
          <td class="col-1">Databases</td>
          <td>PostgreSQL, SQLite, MongoDB</td>
        </tr>
        <tr>
          <td class="col-1">Design</td>
          <td>CSS, Figma</td>
        </tr>
      </table>
    </section> -->

    <footer class="footer">
      <!-- <p class="end-square">⬜</p> -->
      <div class="note">
        <small>&copy; 2024&ndash;2025 Mihir Dixit</small><br />
        <small>Last updated: 2025-06-21</small>
      </div>
    </footer>

    <!-- <script src="/src/scripts/index.js"></script> -->
  </body>
</html>
