---
import "../../src/styles/global.css";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<meta
			name="description"
			content="The personal/portfolio website of Mihir Dixit. Web Developer and Designer working with small businesses and founders all over the world."
		/>

		<meta name="robots" content="index,follow" />
		<meta name="googlebot" content="index,follow" />

		<meta name="google" content="nositelinkssearchbox" />

		<link rel="canonical" href="https://mihircodes.com/" />

		<!-- Facebook Opengraph Protocol -->
		<meta property="og:title" content="Mihir Dixit's Personal website." />
		<meta property="og:url" content="https://mihircodes.com/" />
		<meta property="og:type" content="website" />
		<!-- <meta property="og:image" content="https://mihircodes.com"> -->
		<!-- <meta property="og:image:alt" content="" /> -->
		<meta
			property="og:description"
			content="Mihir Dixit's Personal/Portfolio website."
		/>
		<meta property="og:site_name" content="Mihir Codes" />
		<meta property="og:locale" content="en_US" />

		<!-- Twitter Cards -->
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:widgets:new-embed-design" content="on" />
		<meta name="twitter:site" content="@mihird9" />
		<meta name="og:url" content="https://mihircodes.com/" />
		<meta name="og:title" content="Mihir Dixit's Personal website." />
		<meta
			name="og:description"
			content="Mihir Dixit's Personal/Portfolio website."
		/>
		<!-- <meta name="twitter:image" content="https://mihircodes.com" /> -->

		<title>Mihir Codes</title>

		<!-- <link rel="preload" as="script" href="/src/scripts/set-theme.js" /> -->

		<!-- Preload the fonts only on the index page -->
		<link
			rel="preload"
			href="/fonts/Inter-VariableFont_opsz\,wght.woff2"
			as="font"
			type="font/woff2"
			crossorigin
		/>
	</head>

	<body class="" id="body-theme">
		<ul class="nav">
			<li class="nav-item">Home&nbsp;&nbsp;/</li>
			<li class="nav-item"><a href="/blog/">Blog</a>&nbsp;&nbsp;/</li>
			<li class="nav-item">
				<a href="/reading-list/">Reading List</a>&nbsp;&nbsp;/
			</li>
		</ul>

		<header class="header">
			<h1 class="page-title">Hi, I'm Mihir Dixit</h1>
			<p class="site-subtitle">Welcome to my website.</p>
		</header>

		<section class="about">
			<h2>About me</h2>
			<!-- <p>
				I am a <strong
					>software developer (focused on web development), and web
					designer, who likes to build stuff.</strong
				>
			</p> -->

			<table class="index-table">
				<tr>
					<td class="col-1">Bio</td>
					<td
						>Software developer, and web designer, who likes to
						build products</td
					>
				</tr>
				<tr>
					<td class="col-1">Currently</td>
					<td>Available for freelance work</td>
				</tr>
				<tr>
					<td class="col-1">Previously</td>
					<td
						>Worked as a Data Engineer/Analyst, Business
						Intelligence Analyst and in other data/software related
						roles for the past 10 years, about 5 years of which were
						in the US.</td
					>
				</tr>
				<tr>
					<td class="col-1">Focus Areas</td>
					<td
						>Web Development (Frontend, Backend, APIs), Web Design,
						SaaS (Software as a Service) products, Marketing, Data
						and Analytics</td
					>
				</tr>
				<!-- <tr
					><td class="col-1">Other Interests</td>
					<td
						>Writing, Sketching, Anime, Singing, Poetry, Languages
						(computer, and natural), Hiking</td
					>
				</tr> -->
				<tr>
					<td class="col-1">Socials</td>
					<td
						><a href="https://github.com/mihird9" target="_blank"
							>Github</a
						>
						<span class="out-arrow">&#8599;</span>, <a
							href="https://x.com/mihird9"
							target="_blank">Twitter/X</a
						>
						<span class="out-arrow">&#8599;</span>
					</td>
				</tr>
				<tr>
					<td class="col-1">Email</td>
					<td>heymihird9 [at] gmail [dot] com</td>
				</tr>
			</table>
		</section>

		<section class="freelance">
			<h2>Freelance Work Areas</h2>

			<table class="index-table">
				<tr>
					<td class="col-1">Website Development</td>
					<td
						>Developing performant websites for small businesses,
						founders, and independent creators. For more information
						visit <a
							href="https://leancraftwebdesign.com"
							target="_blank">leancraftwebdesign.com</a
						>
						<span class="out-arrow">&#8599;</span></td
					>
				</tr>
				<tr>
					<td class="col-1">Web Application Development</td>
					<td
						>Development of traditional multi-page web applications,
						as well as single-page web applications</td
					>
				</tr>
				<tr>
					<td class="col-1">Technical Writing</td>
					<td
						>Technical blogs/articles related to Python, JavaScript,
						Web Development, Software Development, Unix/Linux</td
					>
				</tr>
				<tr>
					<td class="col-1">Interested in my freelance services?</td>
					<td
						><a
							href="https://cal.com/mihird9/free-15-min-intro-call-copy"
							target="_blank"
							class="cta-button">Schedule a 15min call</a
						>
						<span class="out-arrow">&#8599;</span></td
					>
				</tr>
			</table>
		</section>

		<section class="projects">
			<h2>Projects</h2>
			<p>Coming soon...</p>
			<br />
			<!-- <p>Like any of my projects? Want to show appreciation?</p>
			<p>
				&gt;&gt;&gt; <a
					href="https://buymeacoffee.com/mihird9"
					target="_blank">Buy me a coffee</a
				> &lt;&lt;&lt;
			</p> -->
		</section>

		<section class="tools">
			<h2>Tools & Technologies I use</h2>

			<table class="index-table">
				<tr>
					<td class="col-1">Languages</td>
					<td
						>Python, JavaScript/Node.js, TypeScript, SQL, Bash,
						HTML, CSS</td
					>
				</tr>
				<tr>
					<td class="col-1">Frameworks / Libraries</td>
					<td
						>React, Express, Astro, Django, Flask, FastAPI, Tailwind
						CSS</td
					>
				</tr>
				<tr>
					<td class="col-1">Databases</td>
					<td>PostgreSQL, SQLite, MongoDB</td>
				</tr>
				<tr>
					<td class="col-1">Design</td>
					<td>Figma, Framer</td>
				</tr>
			</table>
		</section>

		<footer class="footer">
			<p id="end-square">&#x2B1B;</p>
			<div class="note">
				<small>&copy; Mihir Dixit</small><br />
				<small>Last updated: 2024-11-28</small>
			</div>
		</footer>

		<!-- <script src="/src/scripts/index.js"></script> -->
	</body>
</html>
