---
import "../../src/styles/global.css";
---

<html lang="en">
    <head>
        <meta charset="utf-8" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="viewport" content="width=device-width" />
        <meta name="generator" content={Astro.generator} />

        <meta
            name="description"
            content="Reading List page on the personal/portfolio website of Mihir Dixit."
        />

        <meta name="robots" content="index,follow" />
        <meta name="googlebot" content="index,follow" />

        <meta name="google" content="nositelinkssearchbox" />

        <link rel="canonical" href="https://mihircodes.com/reading-list/" />

        <!-- Facebook Opengraph Protocol -->
        <meta property="og:title" content="Reading List | Mihir Codes" />
        <meta
            property="og:url"
            content="https://mihircodes.com/reading-list/"
        />
        <meta property="og:type" content="website" />
        <!-- <meta property="og:image" content="https://mihircodes.com"> -->
        <!-- <meta property="og:image:alt" content="" /> -->
        <meta
            property="og:description"
            content="Reading List page on the personal/portfolio website of Mihir Dixit."
        />
        <meta property="og:site_name" content="Mihir Codes" />
        <meta property="og:locale" content="en_US" />

        <!-- Twitter Cards -->
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:widgets:new-embed-design" content="on" />
        <meta name="twitter:site" content="@mihird9" />
        <meta name="og:url" content="https://mihircodes.com/reading-list/" />
        <meta name="og:title" content="Reading List | Mihir Codes" />
        <meta
            name="og:description"
            content="Reading List page on the personal/portfolio website of Mihir Dixit."
        />
        <!-- <meta name="twitter:image" content="https://mihircodes.com" /> -->

        <title>Reading List | Mihir Codes</title>

        <!-- <link rel="preload" as="script" href="/src/scripts/set-theme.js" /> -->
    </head>

    <body class="" id="body-theme">
        <ul class="nav">
            <li class="nav-item"><a href="/">Home</a>&nbsp;&nbsp;/</li>
            <li class="nav-item"><a href="/blog/">Blog</a>&nbsp;&nbsp;/</li>
            <li class="nav-item">Reading List&nbsp;&nbsp;/</li>
            <!-- <li class="nav-item mode-button" id="mode-toggle">🌙</li> -->
        </ul>

        <header class="header">
            <h1>Reading List</h1>
            <p></p>
        </header>

        <main>
            <section>
                <!-- <h2 id="essays">Essays/Blog posts</h2> -->

                <div>
                    <table>
                        <tr>
                            <th colspan="2">Web Development</th>
                        </tr>
                        <tr>
                            <td
                                ><a
                                    href="https://www.kalzumeus.com/2010/04/20/building-highly-reliable-websites-for-small-companies/"
                                    target="_blank"
                                    >Building Highly Reliable Websites For Small
                                    Companies</a
                                >
                                <span class="out-arrow">&#8599;</span></td
                            >
                            <td>Patrick McKenzie</td>
                        </tr>
                        <tr>
                            <td
                                ><a
                                    href="https://danluu.com/slow-device/"
                                    target="_blank"
                                    >How web bloat impacts users with slow
                                    devices</a
                                >
                                <span class="out-arrow">&#8599;</span></td
                            >
                            <td>Dan Luu</td>
                        </tr>
                        <tr>
                            <td
                                ><a
                                    href="https://idlewords.com/talks/website_obesity.htm"
                                    target="_blank"
                                    >The Website Obesity Crisis</a
                                >
                                <span class="out-arrow">&#8599;</span>
                            </td>
                            <td>Maciej Cegłowski</td>
                        </tr>
                        <tr>
                            <td>
                                <a
                                    href="https://mcfunley.com/choose-boring-technology"
                                    target="_blank">Choose Boring Technology</a
                                >
                                <span class="out-arrow">&#8599;</span>
                            </td>
                            <td>Dan McKinley</td>
                        </tr>
                    </table>
                </div>
            </section>
        </main>

        <footer class="footer">
            <p id="end-square">&#x2B1B;</p>
            <div class="note">
                <small>&copy; Mihir Dixit</small><br />
            </div>
        </footer>

        <!-- <script src="/src/scripts/index.js"></script> -->
    </body>
</html>
