---

---

<style>
  .footer {
    padding: 1rem;
  }

  @media only screen and (max-width: 720px) {
    .footer {
      padding: 1rem 0.5rem;
    }
  }

  .note {
    padding: 0.5rem 0 0;
  }

  .footer p {
    padding: 1rem 1rem 0;
  }
</style>

<footer class="footer">
  <!-- <p class="end-square">⬜</p> -->
  <div class="note">
    <small>&copy; 2024&ndash;2025 Mihir Dixit</small><br />
    <small>Last updated: 2025-06-21</small>
  </div>
</footer>
