---
const { pageTitle, pageSubTitle } = Astro.props;
---

<style>
  .header {
    padding: 1.5rem 1rem;
  }

  @media only screen and (max-width: 720px) {
    .header {
      padding: 0.75rem 0.5rem;
    }
  }

  .page-title {
    padding-bottom: 0.25rem;
  }

  @media only screen and (max-width: 720px) {
    .page-title {
      /* padding: 1rem 1rem 0; */
    }
  }
</style>

<header class="header">
  <h1 class="page-title">{pageTitle}</h1>
  <p class="page-subtitle">
    {pageSubTitle}
  </p>
</header>
